body{
	font-family: arial;
	background: rgb(209,209,209);
	text-align: center;
}
h1{
	color: black;
	font-size: 40px;
	font-family: arial;
	background: linear-gradient(20deg,orange,black);
	padding: 100px
}
img{
	width: 300px;
	height:200px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px black;

}
a{
	text-decoration: none;
}
a:hover{
	background: black;
	color: white;
}
ol{
	text-align: left;
}

p{
	border: dashed 5px green;
	padding: 50px;
	margin:100px 50px 50px 30px;
}

#box-black{
	background: black;
	padding:20px;
}

#box-red{
	background: red;
}

#box-yellow{
	background: yellow;
}

#box-green{
	background: green;
}

.width-200px{
	width: 200px;
}

.border-white{
	border:2px solid white;
}
.my-icon{
	font-size: 40px;
	color:blue;
}